.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.input-container {
    width: 100%;
    margin-bottom: 30px;
}
